<div class="jumbotron">
    <h1>Account Balance Viewer API</h1>
    <p class="lead">
        Account balances are updated every month in the Jondell Corp and the CFO Dr. Sundt likes to
        have a close look at the overview. Since Dr. Sundt has no experience in software development,
        he would like to hire you to do his dirty laundry. So your job is to create a simple web enabled
        account balance overview tool. There are 5 accounts in Jondell Corp and they are,
    </p>
    <ol>
        <li>R&D</li>
        <li>Canteen</li>
        <li>CEO’s car expenses</li>
        <li>Marketing</li>
        <li>Parking fines</li>
    </ol>
    <p>Balances of these accounts are updated every month. View API documentation for more details.</p>

</div>a